body {
    font-size:large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
}

.navbar {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    font-size: large;
    border: 10%;
    border-style: dotted;
}

h1 {
    color:  azure;
}