body {
    font-size: 20px;
    font-family: monospace;
    background-color: #242424;
    font-style: bold;
    color: #38a32a;
}

a {
    color: #38a32a; 
}

.navbar {
    border-style: inset;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    font-size: 250%;
    text-align: center;
    z-index: 1;
}

.navbarlink
{
    margin-left: 8%;
    margin-right: 8%;
}


h1, h2, h3, h4, h5, h6 {
    color:white;
}

#newsimage {
    height: max-content;
    max-width: fit-content;
}



.textblock {
    text-align: center;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12%;
    text-align: left;
    font-size: inherit;
    font-family: inherit;
    background-color: black;
    font-style: inherit;
    border-style: double;
    border-color: black;
}

.right-textblock {
    text-align: right;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12%;
    text-align: left;
    font-size: inherit;
    font-family: inherit;
    background-color: black;
    font-style: inherit;
    border-style: double;
    border-color: black;
}

.left-textblock {
    text-align: left;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12%;
    text-align: left;
    font-size: inherit;
    font-family: inherit;
    background-color: black;
    font-style: inherit;
    border-style: double;
    border-color: black;
}

.rightbias
{
    margin-left: 50%;
}

.leftbias
{
    margin-right: 50%;
}