body {
    font-size: 20px;
    font-family: monospace;
    background-image: url('WebsiteLogo.png');
    font-style: bold;
    color: #0c7b59;
}

.navbar {
    border-style: inset;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    font-size: 250%;
    text-align: center;
    z-index: 1;
    color: #0c7b59; 
}

.navbarlink
{
    margin-left: 8%;
    margin-right: 8%;
}


h1 {
    color:white;
}

h2, a {
    color: #0c7b59;
}

#newsimage {
    height: max-content;
    width: 40%;
}



.textblock {
    text-align: center;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12%;
    text-align: left;
    font-size: inherit;
    font-family: inherit;
    background-color: black;
    font-style: inherit;
    border-style: double;
    border-color: black;
}

.rightbias
{
    margin-left: 60%;
}

.leftbias
{
    margin-right: 60%;
}